body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

/* Navbar ultra moderne */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  padding: 5rem 15rem;
  z-index: 1000;
}

.logo a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #408842;
}

/* img */
.carousel-item img {
    filter: brightness(70%);
    height: 600px;
    object-fit: cover;

}

.carousel-indicators {
  bottom: 20px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  margin: 0 5px;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: white;
}


